
.loader {
	background: #fff;
	color: #fff;
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 560px;
}
/* Content */
.content {
	position: relative;
}

.svg-container {
	width: 100%;
	height: 100%;
}

@media (min-width: 1025px){
	.content,.loader {
		margin-left: auto;
		margin-right: auto;
		margin-top: 25%;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
	.content,.loader {
		margin-left: auto;
		margin-right: auto;
		margin-top: 45%;
	}
}

@media only screen and (max-width: 767px) and (orientation: portrait){
	.content,.loader {
		margin-left: auto;
		margin-right: auto;
		margin-top: 65%;
	}
}


@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait){
	.content,.loader {
		margin-left: auto;
		margin-right: auto;
		margin-top: 70%;
	}
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape){
	.content,.loader {
		margin-left: auto;
		margin-right: auto;
		margin-top: 30%;
	}
}


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait){
	.content,.loader {
		margin-left: auto;
		margin-right: auto;
		margin-top: 65%;
	}
}


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape){
.content,.loader {
		margin-left: auto;
		margin-right: auto;
		margin-top: 35%;
	}
}

@media only screen and (min-device-width: 569px) and (max-device-width: 767px) and (orientation: portrait){
	.content,.loader {
		margin-left: auto;
		margin-right: auto;
		margin-top: 80%;
	}
}


@media only screen and (min-device-width: 569px) and (max-device-width: 767px) and (orientation: landscape){
	.content,.loader {
		margin-left: auto;
		margin-right: auto;
		margin-top: 50%;
	}
}



